@charset "UTF-8";

:root {
    --bg-color: #353535;
    --primary-color: white;
    --secondary-color: #111111;
    --highlight-color: #e64d1e;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dark {
    background-color: #353535;
    color: white;
}

.light {
    background-color: white; 
    color: #111111;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 97vh;
}

/* Jogo da velha */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 450px;
    margin: 50px;
    background-color: var(--secondary-color);
}

header > #player-area {
    display: flex;
    align-items: center;
    width: 90%;
    height: 60px;
    border: 1px solid white;
}

#player1-area {
    width: 50%;
    height: 100%;
}

#player2-area {
    width: 50%;
    height: 100%;
    border-left: 1px solid white;
}

header img {
    width: 50px;
    margin: 5px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid white;
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
}

#square1 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#square2 {
    border-bottom: 2px solid white;
}

#square3 {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

#square4 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#square5 {
    border-bottom: 2px solid white;
}

#square6 {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

#square7 {
    border-right: 2px solid white;
}


#square9 {
    border-left: 2px solid white; 
}

